anthropic==0.34.2
python-dotenv==1.0.0
pandas==2.2.2
pydantic==2.8.2
scikit-learn==1.5.1
matplotlib==3.9.2
seaborn==0.13.2
numpy==2.0.1
git+https://github.com/huggingface/transformers.git@21fac7abba2a37fae86106f87fcf9974fd1e3830
sentence-transformers==3.0.1
requests==2.32.3
networkx==3.3
